$bg-fondo: #ffffff;
$titulo: #ff0000;
$bg-bot: #ff2020;
$col-bot: #faeb19;
$fond-cont: #025851;

@mixin contacto($bg-fondo) {
  color: $bg-fondo;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  .contact {
    color: $titulo;
  }
  .field {
    color: $bg-bot;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $bg-fondo;
  font-family: Arial, Helvetica, sans-serif;
}
.contenedor {
  background-color: $bg-fondo;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "logo logo" "titulo titulo" "botones botones" "main main" "footer footer";
}
